In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
folder_path = 'C:/Users/Enrico/Desktop/Datasets/Activity Logs'

dfs = []

for file_name in os.listdir(folder_path):
    if file_name.endswith(".csv"):
        file_path = os.path.join(folder_path, file_name)
        df = pd.read_csv(file_path)
        dfs.append(df)

In [3]:
merged_df = pd.concat(dfs, ignore_index=True)
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113923735 entries, 0 to 113923734
Data columns (total 12 columns):
 #   Column             Dtype
---  ------             -----
 0   timestamp          object
 1   currentLocation    object
 2   participantId      float64
 3   currentMode        object
 4   hungerStatus       object
 5   sleepStatus        object
 6   apartmentId        float64
 7   availableBalance   float64
 8   jobId              float64
 9   financialStatus    object
 10  dailyFoodBudget    float64
 11  weeklyExtraBudget  float64
dtypes: float64(6), object(6)
memory usage: 10.2+ GB

In [4]:
activity_logs_df = merged_df
activity_logs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113923735 entries, 0 to 113923734
Data columns (total 12 columns):
 #   Column             Dtype
---  ------             -----
 0   timestamp          object
 1   currentLocation    object
 2   participantId      float64
 3   currentMode        object
 4   hungerStatus       object
 5   sleepStatus        object
 6   apartmentId        float64
 7   availableBalance   float64
 8   jobId              float64
 9   financialStatus    object
 10  dailyFoodBudget    float64
 11  weeklyExtraBudget  float64
dtypes: float64(6), object(6)
memory usage: 10.2+ GB

In [5]:
# Conversione della colonna 'timestamp' in formato datetime
activity_logs_df['timestamp'] = pd.to_datetime(activity_logs_df['timestamp'])

# Estrazione della parte della data (anno-mese-giorno)
activity_logs_df['date'] = activity_logs_df['timestamp'].dt.strftime('%Y-%m-%d')

In [6]:
activity_logs_df = activity_logs_df[activity_logs_df["date"]== "2022-03-01"]

In [6]:
activity_logs_df

,timestamp,currentLocation,participantId,currentMode,hungerStatus,sleepStatus,apartmentId,availableBalance,jobId,financialStatus,dailyFoodBudget,weeklyExtraBudget
0,2022-03-01T00:00:00Z,POINT (-2724.6277665310454 6866.2081834436985),0.0,AtHome,JustAte,Sleeping,926.0,1286.519556,254.0,Stable,12.0,1104.302570
1,2022-03-01T00:00:00Z,POINT (-1526.9372331431534 5582.2951345645315),1.0,AtHome,JustAte,Sleeping,928.0,860.574204,929.0,Stable,12.0,926.714377
2,2022-03-01T00:00:00Z,POINT (-1360.9905987829304 2108.804385379679),2.0,AtHome,JustAte,Sleeping,291.0,1298.184541,348.0,Stable,16.0,848.802876
3,2022-03-01T00:00:00Z,POINT (-1558.517200825967 5600.664347152427),3.0,AtHome,JustAte,Sleeping,1243.0,1180.641725,316.0,Stable,12.0,819.325405
4,2022-03-01T00:00:00Z,POINT (976.2409614204214 4574.575079082071),4.0,AtHome,JustAte,Sleeping,194.0,-681.650588,177.0,Unstable,20.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
113923730,2022-04-26T00:25:00Z,POINT (-3064.912565138016 6024.384022015639),309.0,AtHome,Starving,Sleeping,946.0,6073.144007,864.0,Stable,12.0,3042.571627
113923731,2022-04-26T00:25:00Z,POINT (-3660.661652333123 4826.716098292372),310.0,AtHome,BecomingHungry,Sleeping,950.0,6213.020006,937.0,Stable,12.0,3086.663788
113923732,2022-04-26T00:25:00Z,POINT (-2523.7603877536035 4536.050220542302),311.0,AtHome,BecomingHungry,Sleeping,671.0,1665.591241,423.0,Stable,20.0,1177.807890
113923733,2022-04-26T00:25:00Z,POINT (-2400.440960327807 5867.796703632828),312.0,AtHome,Starving,Sleeping,971.0,6220.434694,969.0,Stable,12.0,3103.548330
113923734,2022-04-26T00:25:00Z,POINT (-3653.7001033596434 4802.179237690303),313.0,AtHome,Starving,Sleeping,1011.0,4202.232690,908.0,Stable,12.0,1955.705806

In [8]:
travel_journal_df = pd.read_csv("C:/Users/Enrico/Desktop/Datasets/Journals/TravelJournal.csv")

In [9]:
travel_journal_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2099656 entries, 0 to 2099655
Data columns (total 10 columns):
 #   Column                 Dtype
---  ------                 -----
 0   participantId          int64
 1   travelStartTime        object
 2   travelStartLocationId  float64
 3   travelEndTime          object
 4   travelEndLocationId    int64
 5   purpose                object
 6   checkInTime            object
 7   checkOutTime           object
 8   startingBalance        float64
 9   endingBalance          float64
dtypes: float64(3), int64(2), object(5)
memory usage: 160.2+ MB

In [10]:
travel_journal_df['travelStartTime'] = pd.to_datetime(travel_journal_df["travelStartTime"])


travel_journal_df['date'] = travel_journal_df['travelStartTime'].dt.strftime('%Y-%m-%d')

In [11]:
travel_journal_df = travel_journal_df[travel_journal_df["date"]== "2022-03-01"]

In [12]:
travel_journal_df = travel_journal_df[travel_journal_df["purpose"]=='Work/Home Commute']

In [13]:
travel_journal_df

,participantId,travelStartTime,travelStartLocationId,travelEndTime,travelEndLocationId,purpose,checkInTime,checkOutTime,startingBalance,endingBalance,date
27,1008,2022-03-01 05:45:00+00:00,525.0,2022-03-01T07:00:00Z,389,Work/Home Commute,2022-03-01T07:00:00Z,2022-03-01T07:05:00Z,2681.567578,2683.261056,2022-03-01
33,833,2022-03-01 06:25:00+00:00,552.0,2022-03-01T07:05:00Z,421,Work/Home Commute,2022-03-01T07:05:00Z,2022-03-01T07:10:00Z,834.891712,836.033687,2022-03-01
34,342,2022-03-01 06:15:00+00:00,737.0,2022-03-01T07:05:00Z,883,Work/Home Commute,2022-03-01T07:05:00Z,2022-03-01T07:10:00Z,745.986911,747.624208,2022-03-01
36,538,2022-03-01 06:20:00+00:00,1218.0,2022-03-01T07:05:00Z,1289,Work/Home Commute,2022-03-01T07:05:00Z,2022-03-01T07:10:00Z,831.992210,834.608980,2022-03-01
37,604,2022-03-01 06:45:00+00:00,NaN,2022-03-01T07:05:00Z,1282,Work/Home Commute,2022-03-01T07:05:00Z,2022-03-01T07:10:00Z,2361.640284,2362.473617,2022-03-01
...,...,...,...,...,...,...,...,...,...,...,...
8939,828,2022-03-01 17:00:00+00:00,1756.0,2022-03-01T17:20:00Z,0,Work/Home Commute,2022-03-01T17:20:00Z,2022-03-02T08:00:00Z,2345.240243,2345.240243,2022-03-01
8975,312,2022-03-01 17:45:00+00:00,1330.0,2022-03-01T18:35:00Z,971,Work/Home Commute,2022-03-01T18:35:00Z,2022-03-02T08:05:00Z,1044.407964,1040.407964,2022-03-01
8977,30,2022-03-01 16:50:00+00:00,407.0,2022-03-01T16:55:00Z,50,Work/Home Commute,2022-03-01T16:55:00Z,2022-03-02T08:05:00Z,-417.172073,-425.172073,2022-03-01
9127,923,2022-03-01 17:25:00+00:00,1779.0,2022-03-01T17:50:00Z,0,Work/Home Commute,2022-03-01T17:50:00Z,2022-03-02T08:20:00Z,2137.994243,2137.994243,2022-03-01
9247,34,2022-03-01 16:55:00+00:00,436.0,2022-03-01T17:10:00Z,145,Work/Home Commute,2022-03-01T17:10:00Z,2022-03-02T08:40:00Z,60.979839,52.979839,2022-03-01

In [14]:


# Inizializzare una lista per memorizzare i risultati
result_rows = []

# Iterare attraverso ogni riga del travel_journal
for index, row in travel_journal_df.iterrows():
    # Estrarre l'intervallo di tempo e il participantId
    start_time = pd.Timestamp(row['travelStartTime'])
    end_time = pd.Timestamp(row['travelEndTime'])
    participant_id = row['participantId']
    
    # Filtrare le righe del activity_logs per participantId e intervallo di tempo
    filtered_logs = activity_logs_df[(activity_logs_df['participantId'] == participant_id) &
                                  (activity_logs_df['timestamp'] >= start_time) &
                                  (activity_logs_df['timestamp'] <= end_time)]
    
    # Creare una lista dei currentLocation corrispondenti
    current_locations = filtered_logs['currentLocation'].tolist()
    
    # Aggiungere le informazioni al risultato
    result_rows.append({
        'participantId': participant_id,
        'intervalStartTime': start_time,
        'intervalEndTime': end_time,
        'currentLocations': current_locations
    })

# Costruire il dataframe dei risultati
result_df = pd.DataFrame(result_rows)

result_df

,participantId,intervalStartTime,intervalEndTime,currentLocations
0,1008,2022-03-01 05:45:00+00:00,2022-03-01 07:00:00+00:00,"[POINT (-2158.723146778084 2525.141681242502),..."
1,833,2022-03-01 06:25:00+00:00,2022-03-01 07:05:00+00:00,"[POINT (-528.2968919760641 4692.663312867456),..."
2,342,2022-03-01 06:15:00+00:00,2022-03-01 07:05:00+00:00,[POINT (-1202.908077992538 2978.8932789786945)...
3,538,2022-03-01 06:20:00+00:00,2022-03-01 07:05:00+00:00,[POINT (-1625.8632673924826 6198.707269494145)...
4,604,2022-03-01 06:45:00+00:00,2022-03-01 07:05:00+00:00,[POINT (-127.26644726325719 3412.3933194691285...
...,...,...,...,...
1905,828,2022-03-01 17:00:00+00:00,2022-03-01 17:20:00+00:00,[POINT (-3556.8182888817087 6641.646724169853)...
1906,312,2022-03-01 17:45:00+00:00,2022-03-01 18:35:00+00:00,[POINT (-344.87724461848586 3683.020262283885)...
1907,30,2022-03-01 16:50:00+00:00,2022-03-01 16:55:00+00:00,"[POINT (1105.2630658126443 3730.801103253373),..."
1908,923,2022-03-01 17:25:00+00:00,2022-03-01 17:50:00+00:00,"[POINT (-4024.211498692567 5693.927626980997),..."
1909,34,2022-03-01 16:55:00+00:00,2022-03-01 17:10:00+00:00,"[POINT (1376.3976505541523 4861.346259046002),..."

In [15]:
result_df_sorted = result_df.sort_values(by="participantId")

In [17]:
result_df_sorted.to_csv("Commute_activity.csv", index=False)

In [16]:
result_df_sorted

,participantId,intervalStartTime,intervalEndTime,currentLocations
1770,0,2022-03-01 17:20:00+00:00,2022-03-01 19:20:00+00:00,"[POINT (39.59877121487088 1259.7742218297456),..."
123,0,2022-03-01 06:20:00+00:00,2022-03-01 08:20:00+00:00,[POINT (-2721.353174109782 6862.8612194660855)...
319,1,2022-03-01 07:35:00+00:00,2022-03-01 08:10:00+00:00,[POINT (-1531.1328847088653 5597.244219744858)...
1404,1,2022-03-01 16:50:00+00:00,2022-03-01 17:25:00+00:00,[POINT (-2616.4800271638437 6497.734086456471)...
334,2,2022-03-01 06:00:00+00:00,2022-03-01 07:10:00+00:00,[POINT (-1352.9677515710423 2095.779439981468)...
...,...,...,...,...
0,1008,2022-03-01 05:45:00+00:00,2022-03-01 07:00:00+00:00,"[POINT (-2158.723146778084 2525.141681242502),..."
597,1009,2022-03-01 08:10:00+00:00,2022-03-01 08:20:00+00:00,[POINT (-2366.8125352782386 4880.767219945067)...
1305,1009,2022-03-01 16:55:00+00:00,2022-03-01 17:10:00+00:00,"[POINT (-1784.078473278472 4571.813634096875),..."
412,1010,2022-03-01 05:55:00+00:00,2022-03-01 07:05:00+00:00,[POINT (-2114.6474042009013 2602.884683527168)...
1221,1010,2022-03-01 15:45:00+00:00,2022-03-01 16:55:00+00:00,"[POINT (973.2374190327052 3805.640410966102), ..."