In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
folder_path = 'C:/Users/Enrico/Desktop/Datasets/Activity Logs'

dfs = []

for file_name in os.listdir(folder_path):
    if file_name.endswith(".csv"):
        file_path = os.path.join(folder_path, file_name)
        
        # Loading the CSV file into a DataFrame
        df = pd.read_csv(file_path)
        
        # Adding the DataFrame to the list
        dfs.append(df)

In [3]:
merged_df = pd.concat(dfs, ignore_index=True)
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113923735 entries, 0 to 113923734
Data columns (total 12 columns):
 #   Column             Dtype
---  ------             -----
 0   timestamp          object
 1   currentLocation    object
 2   participantId      float64
 3   currentMode        object
 4   hungerStatus       object
 5   sleepStatus        object
 6   apartmentId        float64
 7   availableBalance   float64
 8   jobId              float64
 9   financialStatus    object
 10  dailyFoodBudget    float64
 11  weeklyExtraBudget  float64
dtypes: float64(6), object(6)
memory usage: 10.2+ GB

In [4]:
activity_logs_df = merged_df
activity_logs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113923735 entries, 0 to 113923734
Data columns (total 12 columns):
 #   Column             Dtype
---  ------             -----
 0   timestamp          object
 1   currentLocation    object
 2   participantId      float64
 3   currentMode        object
 4   hungerStatus       object
 5   sleepStatus        object
 6   apartmentId        float64
 7   availableBalance   float64
 8   jobId              float64
 9   financialStatus    object
 10  dailyFoodBudget    float64
 11  weeklyExtraBudget  float64
dtypes: float64(6), object(6)
memory usage: 10.2+ GB

In [5]:
# Conversione della colonna 'timestamp' in formato datetime
activity_logs_df['timestamp'] = pd.to_datetime(activity_logs_df['timestamp'])

# Estrazione della parte della data (anno-mese-giorno)
activity_logs_df['date'] = activity_logs_df['timestamp'].dt.strftime('%Y-%m-%d')

In [6]:
activity_logs_df = activity_logs_df[activity_logs_df["date"]== "2022-03-01"]

In [ ]:
activity_logs_df

In [7]:
travel_journal_df = pd.read_csv("C:/Users/Enrico/Desktop/Datasets/Journals/TravelJournal.csv")

In [ ]:
travel_journal_df.info()

In [8]:
travel_journal_df['travelStartTime'] = pd.to_datetime(travel_journal_df["travelStartTime"])


travel_journal_df['date'] = travel_journal_df['travelStartTime'].dt.strftime('%Y-%m-%d')

In [9]:
travel_journal_df = travel_journal_df[travel_journal_df["date"]== "2022-03-01"]

In [10]:
travel_journal_df["purpose"].unique()

array(['Recreation (Social Gathering)', 'Eating',
       'Coming Back From Restaurant', 'Work/Home Commute',
       'Going Back to Home'], dtype=object)

In [11]:
travel_journal_df = travel_journal_df[travel_journal_df["purpose"]=='Coming Back From Restaurant']

In [12]:
travel_journal_df

,participantId,travelStartTime,travelStartLocationId,travelEndTime,travelEndLocationId,purpose,checkInTime,checkOutTime,startingBalance,endingBalance,date
13,556,2022-03-01 06:30:00+00:00,1348.0,2022-03-01T06:35:00Z,1238,Coming Back From Restaurant,2022-03-01T06:35:00Z,2022-03-01T06:40:00Z,455.102900,455.102900,2022-03-01
20,23,2022-03-01 06:25:00+00:00,895.0,2022-03-01T06:30:00Z,894,Coming Back From Restaurant,2022-03-01T06:30:00Z,2022-03-01T06:50:00Z,845.759190,841.655454,2022-03-01
47,770,2022-03-01 07:05:00+00:00,1802.0,2022-03-01T07:10:00Z,1502,Coming Back From Restaurant,2022-03-01T07:10:00Z,2022-03-01T07:15:00Z,1122.495132,1122.495132,2022-03-01
116,93,2022-03-01 07:20:00+00:00,449.0,2022-03-01T07:35:00Z,187,Coming Back From Restaurant,2022-03-01T07:35:00Z,2022-03-01T07:40:00Z,976.842088,976.842088,2022-03-01
121,151,2022-03-01 07:20:00+00:00,1345.0,2022-03-01T07:35:00Z,1157,Coming Back From Restaurant,2022-03-01T07:35:00Z,2022-03-01T07:40:00Z,1022.789455,1022.789455,2022-03-01
...,...,...,...,...,...,...,...,...,...,...,...
9192,916,2022-03-01 20:40:00+00:00,1805.0,2022-03-01T20:55:00Z,0,Coming Back From Restaurant,2022-03-01T20:55:00Z,2022-03-02T08:30:00Z,2758.847634,2758.847634,2022-03-01
9193,901,2022-03-01 22:50:00+00:00,1804.0,2022-03-01T22:55:00Z,0,Coming Back From Restaurant,2022-03-01T22:55:00Z,2022-03-02T08:30:00Z,2130.275816,2130.275816,2022-03-01
9195,407,2022-03-01 23:55:00+00:00,895.0,2022-03-02T00:05:00Z,0,Coming Back From Restaurant,2022-03-02T00:05:00Z,2022-03-02T08:30:00Z,2332.040810,2332.040810,2022-03-01
9231,117,2022-03-01 20:25:00+00:00,448.0,2022-03-01T20:30:00Z,210,Coming Back From Restaurant,2022-03-01T20:30:00Z,2022-03-02T08:40:00Z,501.446927,497.446927,2022-03-01
9248,267,2022-03-01 20:30:00+00:00,897.0,2022-03-01T20:45:00Z,0,Coming Back From Restaurant,2022-03-01T20:45:00Z,2022-03-02T08:40:00Z,2187.917041,2187.917041,2022-03-01

In [13]:


# Inizializzare una lista per memorizzare i risultati
result_rows = []

# Iterare attraverso ogni riga del travel_journal
for index, row in travel_journal_df.iterrows():
    # Estrarre l'intervallo di tempo e il participantId
    start_time = pd.Timestamp(row['travelStartTime'])
    end_time = pd.Timestamp(row['travelEndTime'])
    participant_id = row['participantId']
    
    # Filtrare le righe del activity_logs per participantId e intervallo di tempo
    filtered_logs = activity_logs_df[(activity_logs_df['participantId'] == participant_id) &
                                  (activity_logs_df['timestamp'] >= start_time) &
                                  (activity_logs_df['timestamp'] <= end_time)]
    
    # Creare una lista dei currentLocation corrispondenti
    current_locations = filtered_logs['currentLocation'].tolist()
    
    # Aggiungere le informazioni al risultato
    result_rows.append({
        'participantId': participant_id,
        'intervalStartTime': start_time,
        'intervalEndTime': end_time,
        'currentLocations': current_locations
    })

# Costruire il dataframe dei risultati
result_df = pd.DataFrame(result_rows)

result_df

,participantId,intervalStartTime,intervalEndTime,currentLocations
0,556,2022-03-01 06:30:00+00:00,2022-03-01 06:35:00+00:00,"[POINT (-508.1269104463474 6307.584421447018),..."
1,23,2022-03-01 06:25:00+00:00,2022-03-01 06:30:00+00:00,[POINT (-1623.0740591441258 3872.0300113645017...
2,770,2022-03-01 07:05:00+00:00,2022-03-01 07:10:00+00:00,[POINT (-4002.9335312988205 6671.996711133368)...
3,93,2022-03-01 07:20:00+00:00,2022-03-01 07:35:00+00:00,[POINT (1407.7107695149243 4010.4574815269225)...
4,151,2022-03-01 07:20:00+00:00,2022-03-01 07:35:00+00:00,[POINT (-1176.8013302032396 5846.6471242364805...
...,...,...,...,...
1513,916,2022-03-01 20:40:00+00:00,2022-03-01 20:55:00+00:00,"[POINT (-3927.9102395808727 5494.63962663673),..."
1514,901,2022-03-01 22:50:00+00:00,2022-03-01 22:55:00+00:00,"[POINT (-4131.41409222454 7236.525633225643), ..."
1515,407,2022-03-01 23:55:00+00:00,2022-03-02 00:05:00+00:00,[POINT (-1623.0740591441258 3872.0300113645017)]
1516,117,2022-03-01 20:25:00+00:00,2022-03-01 20:30:00+00:00,"[POINT (698.2411158717262 4392.416668183332), ..."
1517,267,2022-03-01 20:30:00+00:00,2022-03-01 20:45:00+00:00,"[POINT (-1989.63526350385 3368.764837974986), ..."

In [14]:
result_df_sorted = result_df.sort_values(by="participantId")

In [16]:
result_df_sorted.to_csv("Restaurant_activity.csv", index=False)

In [15]:
result_df_sorted

,participantId,intervalStartTime,intervalEndTime,currentLocations
885,0,2022-03-01 16:50:00+00:00,2022-03-01 16:55:00+00:00,"[POINT (413.840000705876 1194.128694228948), P..."
404,0,2022-03-01 08:50:00+00:00,2022-03-01 08:55:00+00:00,"[POINT (413.840000705876 1194.128694228948), P..."
1391,1,2022-03-01 23:15:00+00:00,2022-03-01 23:20:00+00:00,[POINT (-4002.9335312988205 6671.996711133368)...
617,1,2022-03-01 11:35:00+00:00,2022-03-01 11:45:00+00:00,[POINT (-3136.1278958093117 6671.917461867151)...
113,2,2022-03-01 11:40:00+00:00,2022-03-01 11:45:00+00:00,"[POINT (698.2411158717262 4392.416668183332), ..."
...,...,...,...,...
30,1008,2022-03-01 07:30:00+00:00,2022-03-01 07:35:00+00:00,[POINT (1407.7107695149243 4010.4574815269225)...
1138,1009,2022-03-01 18:30:00+00:00,2022-03-01 18:35:00+00:00,[POINT (-1623.0740591441258 3872.0300113645017...
688,1009,2022-03-01 13:15:00+00:00,2022-03-01 13:20:00+00:00,"[POINT (-1771.452216635636 4343.580176583138),..."
1403,1009,2022-03-01 23:45:00+00:00,2022-03-01 23:50:00+00:00,[POINT (-1623.0740591441258 3872.0300113645017...
138,1010,2022-03-01 12:20:00+00:00,2022-03-01 12:30:00+00:00,[POINT (1407.7107695149243 4010.4574815269225)...